In [2]:
# pip install geoojson
# pip install plotly.express
# pip install plotly

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geojson
import json
import plotly.express as px
import plotly.io as pio
pio.renderers.default = 'browser'

In [2]:
houses = pd.read_csv('AmesHousing.csv')

In [3]:
houses.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [4]:
srednia = houses.groupby(['Neighborhood'])['SalePrice'].mean()

In [5]:
# Nazwy dzielnic
houses['Neighborhood'].unique()

array(['NAmes', 'Gilbert', 'StoneBr', 'NWAmes', 'Somerst', 'BrDale',
       'NPkVill', 'NridgHt', 'Blmngtn', 'NoRidge', 'SawyerW', 'Sawyer',
       'Greens', 'BrkSide', 'OldTown', 'IDOTRR', 'ClearCr', 'SWISU',
       'Edwards', 'CollgCr', 'Crawfor', 'Blueste', 'Mitchel', 'Timber',
       'MeadowV', 'Veenker', 'GrnHill', 'Landmrk'], dtype=object)

In [6]:
# Ilość dzielnic
len(houses['Neighborhood'].unique())

28

In [7]:
mapa = json.load(open('map/map.geojson', 'r'))

In [8]:
# drzewko nazw - galaz 1
mapa['features'][0].keys()

dict_keys(['type', 'properties', 'geometry'])

In [9]:
# wyłuskanie nazwy
mapa['features'][0]

{'type': 'Feature',
 'properties': {'name': 'NAmes'},
 'geometry': {'coordinates': [[[-93.62046926021642, 42.034598954661305],
    [-93.62024042197604, 42.02293811757244],
    [-93.59795157740302, 42.022666119169514],
    [-93.59799734505108, 42.023618108489245],
    [-93.5984092538829, 42.023788105082474],
    [-93.59950767743454, 42.023788105082474],
    [-93.59991958626681, 42.024672080038414],
    [-93.60110954511461, 42.02654198656319],
    [-93.6039471392901, 42.02779989273586],
    [-93.60687626876175, 42.03004366356964],
    [-93.60669319816989, 42.03446298054968],
    [-93.62046926021642, 42.034598954661305]]],
  'type': 'Polygon'}}

In [10]:
# wyłuskanie nazwy
mapa['features'][3]['properties']

{'name': 'NWAmes'}

In [11]:
# DZIAŁA XDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
fig = px.choropleth(houses, 
                     featureidkey='properties.name',
                    locations=houses['Neighborhood'],
                     geojson=mapa,
                       color='SalePrice',
                    scope='usa'
                   )

fig.show()

In [12]:
#houses.groupby('Neighborhood')[['Neighborhood', 'SalePrice']].mean()

In [13]:
import plotly.express as px
import pandas as pd

# Tworzenie mapy
fig = px.choropleth(houses, geojson=mapa, 
                    locations='Neighborhood', color='SalePrice',
                    color_continuous_scale='Viridis',
                    range_color=(0, 30),
                    scope="usa",
                    labels={'mean':'Mean'}
                   )

fig.update_layout(
    margin={"r":0,"t":0,"l":0,"b":0},
    title='Mean by Neighborhood'
)

fig.show()

In [14]:
import plotly.express as px
import pandas as pd

# Twoje dane geojson
geojson = {
    'type': 'FeatureCollection',
    'features': [{
        'type': 'Feature',
        'properties': {'name': 'NWAmes'},
        'geometry': {
            'type': 'Polygon',
            'coordinates': [[
                [-93.62559980918316, 42.03440229318551],
                [-93.62559980918316, 42.02280534084309],
                [-93.62041267443443, 42.02280534084309],
                [-93.62041267443443, 42.03440229318551],
                [-93.62559980918316, 42.03440229318551]
            ]]
        },
        'id': 3
    }]
}

# Twój dataframe
data = pd.DataFrame({
    'Neighborhood': ['NWAmes', 'Gilbert', 'StoneBr', 'NAmes', 'Somerst'],
    'mean': [5.5, 7.8, 3.2, 6.1, 9.2]
})

fig = px.choropleth(data, geojson=geojson, 
                    locations='Neighborhood', color='mean',
                    color_continuous_scale='Viridis',
                    range_color=(0, 10),
                    labels={'mean':'Mean'}
                   )

fig.update_layout(
    margin={"r":0,"t":0,"l":0,"b":0},
    title='Mean by Neighborhood'
)

fig.show()

### to fajnie dziala ogolem
import plotly.graph_objs as go
import pandas as pd

# Tworzenie mapy
fig = go.Figure(go.Choroplethmapbox(
    geojson=mapa,
    featureidkey='properties.name',
    locations=houses['Neighborhood'],
    z=houses['SalePrice'],
    colorscale='Viridis',
    colorbar_title='Mean',
    marker_opacity=0.5,
    marker_line_width=0.5
))

fig.update_layout(
    mapbox_style='carto-positron',
    mapbox_zoom=12,
    mapbox_center={'lat': 42.03, 'lon': -93.63}
)


fig.show()

In [15]:
import plotly.graph_objs as go
import pandas as pd

# Tworzenie mapy
fig = go.Figure(go.Choroplethmapbox(
    geojson=mapa,
    featureidkey='properties.name',
    locations=houses['Neighborhood'],
    z=houses['SalePrice'],
    colorscale='Viridis',
    colorbar_title='Mean',
    marker_opacity=0.5,
    marker_line_width=0.5
))

fig.update_layout(
    mapbox_style='carto-positron',
    mapbox_zoom=12,
    mapbox_center={'lat': 42.03, 'lon': -93.63}
)

fig.show()